@model Ejemplo1Asp.Services.Calculos

@{
    ViewBag.Title = "Sumar";
}

<h2>Sumar</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form action="/" method="post">
                <label for="Numero1">Numero 1</label>
                <input type="text" name="Numero1" value="" />
                <br />
                <label for="Numero2">Numero 2</label>
                <input type="text" name="Numero2" value="" />
                <br />
                <label for="Numero2">Operacion</label>
                <select name="Operacion">
                    <option value="Suma">Suma</option>
                    <option value="Resta">Resta</option>

                </select>
                <br />
                <input type="submit" value="Calcular" />
            </form>
            
        </div>
        <div class="col-lg-6">
            <h1>La suma es: @ViewBag.res</h1>
        </div>
    </div>
</div>
